body {
  padding: 0;
  margin: 0;
  font-family: "Lato", Sans-serif; }

.row {
  height: 445px;
  overflow: hidden; }

.top-caption {
  font-family: "Pathway Gothic One", Sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  padding-left: 70px;
  width: 50%;
  display: block; }
  .top-caption span {
    display: block;
    font-weight: 400;
    font-family: "Lato", Sans-serif;
    font-size: 15px;
    color: #7d7d7d;
    margin-bottom: 15px; }

.container {
  display: flex;
  height: 450px; }

.container.slider {
  box-sizing: border-box;
  height: 550px;
  width: 50%;
  position: relative;
  overflow: hidden; }

.slider img {
  height: 100%;
  max-width: 100%; }

.disription {
  box-sizing: border-box;
  width: 60%; }
  .disription .disription-detail {
    box-sizing: border-box;
    margin: 30px 150px 50px 40px; }
  .disription h3 {
    margin-bottom: 1px;
    font-family: "Pathway Gothic One", Sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400px;
    color: black; }
  .disription h3:hover {
    color: #ff4157; }
  .disription p {
    font-size: 15px;
    font-weight: 400px;
    color: #7d7d7d;
    margin-bottom: 30px; }
  .disription ul {
    list-style-type: none;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400px;
    color: #7d7d7d;
    padding-inline-start: 0px; }
  .disription li hr {
    border: 1px solid #7d7d7d;
    margin: 3px 20px 3px 0px;
    width: 30px;
    display: inline-block;
    background: #7d7d7d; }
  .disription ul b {
    color: black; }
  .disription button {
    margin: 10px 40px 60px 0px;
    padding: 13px 0px;
    width: 200px;
    text-transform: uppercase;
    background: #ff677d;
    color: #fff;
    border: 1px solid #ff677d; }

.carousel-control-next, .carousel-control-prev {
  width: 10% !important;
  opacity: 1 !important; }

.arrow-2 {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;
  position: absolute;
  margin: 20px;
  background: white;
  left: 581px;
  top: 376px !important; }

.arrow-2-top,
.arrow-2-bottom {
  background: #7d7d7d;
  height: 4px;
  position: absolute;
  width: 23px;
  left: 8px;
  top: 10px; }

.arrow-2-top {
  top: 40px; }

.arrow-2-top {
  transform: rotate(45deg);
  transform-origin: bottom right; }

.arrow-2-bottom {
  transform: rotate(-45deg);
  transform-origin: top right; }

.arrow-2:hover {
  background: black; }

.arrow-1 {
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;
  position: absolute;
  margin: 20px;
  background: white;
  left: 514px !important;
  top: 376px !important; }

.arrow-1:hover {
  background: black; }

.arrow-1-top,
.arrow-1-bottom {
  background: #7d7d7d;
  height: 4px;
  position: absolute;
  width: 23px;
  left: -5px;
  top: 13px; }

.arrow-1-top {
  top: 37px; }

.arrow-1-top {
  transform: rotate(135deg);
  transform-origin: bottom right; }

.arrow-1-bottom {
  transform: rotate(225deg);
  transform-origin: top right; }
